/**
 * Animation for shaking an element, typically used for a hover effect.
 */
@keyframes animation-shake {
  0% {
    transform: rotate(0deg) translateX(0);
  }

  25% {
    transform: rotate(-6deg) translateX(-0.5px);
  }

  50% {
    transform: rotate(6deg) translateX(0.5px);
  }

  65% {
    transform: rotate(-3deg) translateX(-0.25px);
  }

  80% {
    transform: rotate(3deg) translateX(0.25px);
  }

  100% {
    transform: rotate(0deg) translateX(0);
  }
}

/**
 * Animation for fading in an element.
 */
@keyframes animation-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
