.custom-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-hover-effect {
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-bg-neutral-muted);
    border-radius: var(--size-border-radius);
  }
}
