.aside {
  @include selector-scrollbar($size-2);

  position: sticky;
  top: $size-header-height;
  height: calc(100vh - $size-header-height);
  background-color: var(--color-bg-default);
  border-right: $border-default;

  > ul:not(:last-child) {
    margin: 16px 0;
    border-bottom: $border-default;
  }
}
