.sort-item {
  --grid-template-rows-1: var(--size-24);
  --grid-template-rows-2: var(--size-16);
  --grid-template-columns: calc(
    var(--grid-template-rows-1) + var(--grid-template-rows-2) + var(--size-2)
  );

  @include selector-hover-default;

  display: grid;
  grid-template-rows: var(--grid-template-rows-1) var(--grid-template-rows-2);
  grid-template-columns: var(--grid-template-columns) 1fr var(--grid-template-columns);
  padding: var(--size-8) 0;
  margin: var(--size-4) 0;
  cursor: pointer;

  > div.react-icons {
    @include props-flex-center;

    grid-area: 1 / 1 / 3 / 2;

    > svg {
      width: var(--size-24);
      height: var(--size-24);
    }
  }

  &:hover {
    > div.react-icons {
      animation: var(--animation-shake);
    }
  }

  > div.name-en {
    grid-area: 1 / 2 / 2 / 3;
    font-size: var(--size-16);
    font-weight: var(--text-weight-medium);
    letter-spacing: var(--size-letter-spacing-large);
  }

  > div.name-ko {
    grid-area: 2 / 2 / 3 / 3;
    font-size: var(--size-11);
    color: var(--color-fg-muted);
    letter-spacing: var(--size-letter-spacing-medium);
  }

  > div.order {
    @include props-flex-center;

    grid-area: 1 / 3 / 3 / 4;

    > svg {
      width: var(--size-24);
      height: var(--size-24);
    }
  }
}
