.main {
  display: grid;
  grid-template-columns: 1fr $size-nav-width;
  contain: paint; // `overflow: hidden` prevent children's `position: sticky` from working. So I used it instead.

  > article {
    grid-area: 1 / 1 / 2 / 3;
  }

  > nav {
    grid-area: 1 / 2 / 2 / 3;
    transform: translateX(100%); // TODO: Move to `Nav` component.
  }

  @include screen(md) {
    > article {
      grid-area: 1 / 1 / 2 / 2;
    }

    > nav {
      transform: translateX(0); // TODO: Move to `Nav` component.
    }
  }
}
