.content-box-container {
  @include selector-scrollbar(0, x);

  display: flex;
  white-space: nowrap;
}

.content-box-item {
  padding: $size-6 $size-10;
  margin-right: $size-8;
  font-size: $size-12;
  letter-spacing: $size-letter-spacing-small;
  border: $border-default;
  border-radius: $size-border-radius;

  > .react-icons {
    padding-right: $size-4;
  }

  @include screen(sm) {
    font-size: $size-14;
  }
}

.content {
  @include selector-hover-default;

  display: flex;
  flex-direction: column;
  padding: $size-16 $size-24;
  margin-bottom: $size-16;
  background-color: var(--color-bg-default);
  border: $border-default;
  border-radius: $size-border-radius;

  > div {
    margin-bottom: $size-8;
  }

  .title {
    @include props-ellipsis(3);

    font-size: $size-24;
    font-weight: $text-weight-semibold;
    letter-spacing: $size-letter-spacing-medium;
  }

  .description {
    @include props-ellipsis(4);

    font-size: $size-14;
    color: var(--color-fg-muted);
    letter-spacing: $size-letter-spacing-small;
  }

  &:hover {
    .title,
    .description {
      @include props-line-clamp(10);
    }
  }

  @include screen(sm) {
    .title {
      @include props-line-clamp(1);

      font-size: $size-28;
    }

    .description {
      @include props-line-clamp(2);

      font-size: $size-16;
    }
  }
}
