.profile {
  @include props-flex-center;

  flex-direction: column;
  margin: $size-16;

  > img {
    border-radius: 50%;
  }

  > .user-name {
    padding: $size-16 0;
    font-size: $size-20;
    font-weight: $text-weight-semibold;
  }

  > .user-bio {
    font-size: $size-12;
    color: var(--color-fg-muted);
    letter-spacing: $size-letter-spacing-small;
  }
}
