.content-box-container {
  display: flex;
  white-space: nowrap;
}

.content-box-item {
  padding: var(--size-6) var(--size-10);
  margin-right: var(--size-8);
  font-size: var(--size-12);
  letter-spacing: var(--size-letter-spacing-small);
  border: var(--border-default);
  border-radius: var(--size-border-radius);

  > .react-icons {
    padding-right: var(--size-4);
  }

  @media (width >= 640px) {
    font-size: var(--size-14);
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--size-16) var(--size-24);
  margin-bottom: var(--size-16);
  background-color: var(--color-bg-default);
  border: var(--border-default);
  border-radius: var(--size-border-radius);

  > div {
    margin-bottom: var(--size-8);
  }

  .title,
  .description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }

  .title {
    -webkit-line-clamp: 3;
    line-clamp: 3;
    font-size: var(--size-24);
    font-weight: var(--text-weight-semibold);
    letter-spacing: var(--size-letter-spacing-medium);
  }

  .description {
    -webkit-line-clamp: 4;
    line-clamp: 4;
    font-size: var(--size-14);
    color: var(--color-fg-muted);
    letter-spacing: var(--size-letter-spacing-small);
  }

  &:hover {
    .title,
    .description {
      -webkit-line-clamp: 10;
      line-clamp: 10;
    }
  }

  @media (width >= 640px) {
    .title {
      -webkit-line-clamp: 1;
      line-clamp: 1;
      font-size: var(--size-28);
    }

    .description {
      -webkit-line-clamp: 2;
      line-clamp: 2;
      font-size: var(--size-16);
    }
  }
}
