.links {
  padding: var(--size-8) 0 var(--size-16);

  & > li > a {
    flex-direction: column;
    padding: var(--size-6);

    & > * {
      margin: var(--size-2);
    }

    & > svg {
      width: var(--size-24);
      height: var(--size-24);
    }

    &:hover {
      & > svg {
        animation: var(--animation-shake);
      }
    }

    & > span {
      width: var(--size-40);
      color: var(--color-fg-muted);
      letter-spacing: var(--size-letter-spacing-medium);
    }
  }
}
