.profile {
  @include props-flex-center;

  flex-direction: column;
  margin: var(--size-16);

  > img {
    border-radius: 50%;
  }

  > .user-name {
    padding: var(--size-16) 0;
    font-size: var(--size-20);
    font-weight: var(--text-weight-semibold);
  }

  > .user-bio {
    font-size: var(--size-12);
    color: var(--color-fg-muted);
    letter-spacing: var(--size-letter-spacing-small);
  }
}
