.doc-search {
  @include props-flex-center;

  margin: var(--size-10) var(--size-8) var(--size-10) 0;

  @include screen(md) {
    width: 256px;
    border: var(--border-default);
    border-radius: var(--size-border-radius);
  }
}
