.doc-search {
  margin: var(--size-10) var(--size-8) var(--size-10) 0;

  @media (width >= 768px) {
    width: 256px;
    border: var(--border-default);
    border-radius: var(--size-border-radius);
  }
}
