/* stylelint-disable selector-class-pattern */

.DocSearch {
  --docsearch-text-color: var(--color-fg-default);
  --docsearch-muted-color: var(--color-fg-muted);
  --docsearch-highlight-color: var(--color-main);

  /* modal */
  --docsearch-modal-width: 75vw;
  --docsearch-modal-height: 75vh;
  --docsearch-modal-background: var(--color-bg-inset);

  /* search box */
  --docsearch-searchbox-background: var(--color-bg-inset);
  --docsearch-searchbox-focus-background: var(--color-bg-inset);
  --docsearch-searchbox-shadow: inset 0 0 0 1px var(--color-border-default);

  /* hit */
  --docsearch-hit-color: var(--color-fg-default);
  --docsearch-hit-background: var(--color-bg-default);

  /* key */
  --docsearch-key-gradient: none;

  /* footer */
  --docsearch-footer-height: 48px;
  --docsearch-footer-background: var(--color-bg-default);
}

.DocSearch-Button {
  @include selector-hover-default;

  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: var(--size-border-radius);

  &:hover {
    border-radius: var(--size-border-radius);
    box-shadow: none;
  }
}

.DocSearch-Button-Placeholder {
  font-size: var(--size-14);
  letter-spacing: var(--size-letter-spacing-medium);
}

.DocSearch-Search-Icon {
  width: var(--size-28);
  height: var(--size-28);
  margin: 0 var(--size-2);
  color: var(--color-fg-default);
}

.DocSearch-Cancel {
  font-size: var(--size-14);
  font-weight: var(--text-weight-semibold);
  color: var(--color-fg-default);
  letter-spacing: var(--size-letter-spacing-small);
}

.DocSearch-Logo {
  .cls-1,
  .cls-2 {
    fill: var(--color-fg-default);
  }
}

.DocSearch-Hit-source {
  font-size: var(--size-16);
  color: var(--color-fg-default);
  letter-spacing: var(--size-letter-spacing-small);
}

.DocSearch-Button-Key,
.DocSearch-Commands-Key {
  width: fit-content;
  padding: var(--size-2) var(--size-4);
  font-family: var(--font-stack-monospace);
  font-size: var(--size-12);
  color: var(--color-fg-default);
  background-color: var(--color-bg-muted);
  border: solid 1px var(--color-border-neutral-muted);
  border-radius: var(--size-border-radius);
  box-shadow: inset 0 -1px 0 var(--color-border-neutral-muted);
}

.DocSearch-Title {
  margin: 16px 0 32px;
}
