.title {
  @include props-flex-center;

  > a > img {
    border-radius: 50%;
  }

  > div {
    display: none;
  }

  @include screen(sm) {
    > div {
      display: grid;
      grid-template-rows: 2fr 1fr;
      padding-left: var(--size-16);

      > .user-name {
        padding: var(--size-8) 0;
        font-size: calc(var(--size-10) * 2); // 2fr
        font-weight: var(--text-weight-semibold);
      }

      > .user-bio {
        font-size: var(--size-10); // 1fr
        color: var(--color-fg-muted);
        letter-spacing: var(--size-letter-spacing-small);
      }
    }
  }
}
