/* selector */
@mixin selector-scrollbar($width: 0.25rem, $axis: y) {
  @if $axis == y {
    overflow: hidden scroll;
  } @else {
    overflow: scroll hidden;
  }

  // Global usage: `*::webkit-scrollbar`.
  &::-webkit-scrollbar {
    @if $width == 0 {
      display: none;
    } @else {
      width: $width;

      &-thumb {
        background-color: var(--color-border-default);
        border-radius: var(--size-border-radius);
      }
    }
  }
}
