/* use */
@use 'sass:map';

/* props */
@mixin props-line-clamp($line: 1) {
  -webkit-line-clamp: $line;
  line-clamp: $line;
}

@mixin props-ellipsis($line: 1) {
  @include props-line-clamp($line);

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

/* selector */
@mixin selector-scrollbar($width: 0.25rem, $axis: y) {
  @if $axis == y {
    overflow: hidden scroll;
  } @else {
    overflow: scroll hidden;
  }

  // Global usage: `*::webkit-scrollbar`.
  &::-webkit-scrollbar {
    @if $width == 0 {
      display: none;
    } @else {
      width: $width;

      &-thumb {
        background-color: var(--color-border-default);
        border-radius: var(--size-border-radius);
      }
    }
  }
}

/* media */
$screen-breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
);

@mixin screen($breakpoint) {
  // stylelint-disable-next-line
  @media (min-width: map.get($screen-breakpoints, $breakpoint)) {
    @content;
  }
}
