.article {
  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  max-width: 980px;
  padding: var(--size-article-padding-large) var(--size-article-padding-small);
  margin: 0 auto;

  /* breakpoint-lg */
  @media (width >= 1024px) {
    padding: var(--size-article-padding-large);
  }
}
