$transition: transform 0.75s ease-in-out;

.aside {
  @include selector-scrollbar(0.125rem);

  position: sticky;
  top: var(--size-header-height);
  height: calc(100vh - var(--size-header-height));
  background-color: var(--color-bg-default);
  border-right: var(--border-default);
  transform: translateX(-100%);
  transition: $transition;

  &.visible {
    transform: translateX(0);
  }

  > ul:not(:last-child) {
    margin: 16px 0;
    border-bottom: var(--border-default);
  }

  @include screen(xl) {
    transform: translateX(0);
  }
}

.div {
  position: fixed;
  top: var(--size-header-height);
  z-index: 1;
  width: 32px;
  height: 32px;
  background-color: var(--color-bg-inset);
  border-right: var(--border-default);
  border-bottom: var(--border-default);
  border-bottom-right-radius: var(--size-border-radius);
  transform: translateX(0);
  transition: $transition;

  &.visible {
    transform: translateX(var(--size-sidebar-width));
  }

  > svg {
    width: 100%;
    height: 100%;
    margin: var(--size-4);
  }

  @include screen(xl) {
    opacity: 0;
    transform: translateX(var(--size-sidebar-width));
  }
}
