.nav {
  @include selector-scrollbar(0.125rem);

  position: sticky;
  top: var(--size-header-height);
  box-sizing: border-box;
  height: calc(100vh - var(--size-header-height));
  padding: var(--size-article-padding-large) var(--size-article-padding-small);
  background-color: var(--color-bg-inset);
  border-left: var(--border-default);

  > div {
    padding: 4px 8px;
    background-color: var(--color-bg-default);
    border: var(--border-default);
    border-radius: var(--size-border-radius);
  }

  @include screen(md) {
    background-color: inherit;
    border-left: none;
  }

  @include screen(lg) {
    padding: var(--size-article-padding-large) calc(var(--size-article-padding-small) * 2)
      0 0;
  }
}
