.article {
  box-sizing: border-box;
  width: 100%;
  min-width: 200px;
  max-width: 980px;
  padding: $size-article-padding-small;
  margin: 0 auto;

  @include screen(lg) {
    padding: $size-article-padding-large;
  }
}
