.title {
  @include props-flex-center;

  > a > img {
    border-radius: 50%;
  }

  > div {
    display: none;
  }

  @include screen(sm) {
    > div {
      display: grid;
      grid-template-rows: 2fr 1fr;
      padding-left: $size-16;

      > .user-name {
        padding: $size-8 0;
        font-size: ($size-10 * 2); // 2fr
        font-weight: $text-weight-semibold;
      }

      > .user-bio {
        font-size: $size-10; // 1fr
        color: var(--color-fg-muted);
        letter-spacing: $size-letter-spacing-small;
      }
    }
  }
}
